/* Reset básico */
body, h1, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px; /* Espaço entre o texto e a imagem */
}

.text {
    flex: 1;
}

.image {
    flex: 1;
}

.image img {
    max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

