/* Reset básico */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: darkolivegreen;

header {
    background: rgba(0, 0, 0, 0.6); /* Fundo escuro semi-transparente para o cabeçalho */
    color: #fff;
    padding: 1 rem 0;
}

.container {
    width: 80 %;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15 px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.section {
    background: rgba(255, 255, 255, 0.8); /* Fundo branco semi-transparente */
    padding: 2 rem 0;
    margin: 2 rem 0;
}

.text {
    flex: 1;
}

.image {
    flex: 1;
}

.image img {
    max-width: 100 %; /* Garante que a imagem não ultrapasse o contêiner */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8 px; /* Arredonda os cantos da imagem */
}

footer {
    background: rgba(0, 0, 0, 0.6); /* Fundo escuro semi-transparente para o rodapé */
    color: #fff;
    padding: 1 rem 0;
    text-align: center;
}
.text {
    background: rgba(255, 255, 255, 0.8); /* Fundo branco semi-transparente */
    padding: 20 px; /* Espaçamento interno */
    border-radius: 8 px; /* Cantos arredondados */
}


