/* Reset básico */
body, h1, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    body {
        background-image: url('img/agro.png'); /* Caminho para a sua imagem de fundo */
        background-size: cover; /* Faz a imagem cobrir todo o fundo da página */
        background-position: center; /* Centraliza a imagem no fundo */
        background-repeat: no-repeat; /* Impede que a imagem se repita */
        background-attachment: fixed; /* Faz a imagem de fundo ficar fixa enquanto rola o conteúdo */
    }
    
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px; /* Espaço entre o texto e a imagem */
}

.text {
    flex: 1;
}

.image {
    flex: 1;
}

.image img {
    max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

